<app-nevbar></app-nevbar>

<div class="container">
    <div class="row">
        <form [formGroup]="userdata" class="custom-centered" (ngSubmit)="updateuser()">
            <div>
                <label class="text-dark" for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                <div *ngIf="input['name'].touched && input['name'].invalid">
                    <div class="text-danger" *ngIf="input['name']?.errors?.['required']">Name is required</div>
                </div>
            </div>
            <div>
                <label class="text-dark">E-mail</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter email">
                <div class="text-danger" *ngIf="input['email'].touched && input['email'].invalid">
                    <div *ngIf="input['email']?.errors?.['required']">Email is required</div>
                </div>
            </div>
            <div>
                <label class="text-dark">Address</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Enter address">
                <div class="text-danger" *ngIf="input['address'].touched && input['address'].invalid">
                    <div *ngIf="input['address']?.errors?.['required']">Address is required</div>
                </div>
            </div>
            <div>
                <label class="text-dark">Country</label>
                <input type="text" class="form-control" formControlName="country" placeholder="Enter country">
                <div class="text-danger" *ngIf="input['country'].touched && input['country'].invalid">
                    <div *ngIf="input['country']?.errors?.['required']">Country is required</div>
                </div>
            </div>
            <div>
                <label class="text-dark">Age</label>
                <input type="number" class="form-control" formControlName="age" placeholder="Enter Age">
                <div class="text-danger" *ngIf="input['age'].touched && input['age'].invalid">
                    <div *ngIf="input['age']?.errors?.['required']">Age is required</div>
                </div>
            </div>

            <button routerLinkActive="active" type="submit" class="mt-5 btn btn-primary">Update</button>
        </form>
    </div>
</div>